<h1>Admin Functionalities</h1>

<h2>Item Functions</h2>
    <%= link_to 'Add new item', new_item_path, class:'btn btn-success' %>
    <%= link_to 'See all items', admin_show_items_path, class:'btn btn-primary' %>

<h2>Restaurant Functions</h2>
    <%= link_to 'Add new Restaurant', new_restaurant_path, class:'btn btn-success' %>
    <%= link_to 'See all Restaurants', admin_show_restaurants_path, class:'btn btn-primary' %>

<h2>Category Functions</h2>
<%= link_to 'Add new Category', new_category_path, class:'btn btn-success' %>
<%= link_to 'See all Categories', admin_show_categories_path, class:'btn btn-primary' %>

<h2>Order Functions</h2>
<%= link_to 'See all Orders', admin_show_orders_path, class:'btn btn-primary' %>

