<h1>Admin Functionalities</h1>

<h2>Item Functions</h2>
    <%= link_to 'Add new item', new_item_path, class:'btn btn-success' %>
    <%= link_to 'See all items', show_items_admins_path, class:'btn btn-primary' %>

<h2>Restaurant Functions</h2>
    <%= link_to 'Add new Restaurant', new_restaurant_path, class:'btn btn-success' %>
    <%= link_to 'See all Restaurants', show_restaurants_admins_path, class:'btn btn-primary' %>

<h2>Category Functions</h2>
<%= link_to 'Add new Category', new_category_path, class:'btn btn-success' %>
<%= link_to 'See all Categories', show_categories_admins_path, class:'btn btn-primary' %>

<h2>Order Functions</h2>
<%= link_to 'See all Orders', show_orders_admins_path, class:'btn btn-primary' %>

